<% include ./partials/header %>

<h1>Destinations Page</h1>

<div class="ui top attached">
    <div class="item">
<h4>Sample Destination</h4>
<img class="ui rounded image" src="https://upload.wikimedia.org/wikipedia/commons/d/de/Kaj_Family_reunion_group_1988.jpg" alt="Sample Family Reunion">
<p>This a description of a destination....</p>
    </div>
</div>


<% destinations.forEach(function(destination){ %>
    <div>
        <h2><%=destination.title%></h2>
        <a href="<%=destination.url%>"><%= destination.url %></a>
        <p><%=destination.created.toDateString()%></p>
        <p><%= destination.body.substring(0, 100) %>...</p>
        <a href="/destination/<%= destination._id %>">Read More</a>
    </div>
<%}) %>


<%include ./partials/footer %>

