<% include ./partials/header %>

<h1>Destinations Page</h1>

<a href="/destinations/new" class="item">New Post</a>


<% destinations.forEach(function(destination){ %>
    <div>
        <h2><%=destination.location%></h2>
        <img class="ui rounded image" src="<%=destination.image%>"><br>
        <a href="<%=destination.url%>"><%= destination.url %></a>
        <p><%=destination.created.toDateString()%></p>
        <p><%- destination.body.substring(0, 100) %>
        <a href="/destinations/<%= destination._id %>">...Read More</a></p>
        <p>Submitted by: <%= destination.submittedBy %></p>
    </div>
    <div class="ui divider"></div>

<%}) %>


<%include ./partials/footer %>

