<% include ./partials/header %>
<div class ="ui main text container segment">
    <div class="ui huge header"><%= destination.location %></div>
    <div class="ui top attached">
        <div class="item">
            <div class="content">
                <a href="<%= destination.url %>">Link to Read More</a>
            <div class="content">
                <span> <%= destination.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= destination.body %></p>
            </div>
            <a class="ui orange basic button" href="/destinations/<%= destination._id %>/edit">Edit Post</a>
            <form id="delete" action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete Post</button>
            </form>
        </div>
    </div>
   

</div>

<% include ./partials/footer %>