<% include ../partials/header %>

<h1>Destinations Page</h1>

<a href="/destinations/new" class="item">New Post</a>


<% destinations.forEach(function(destination){ %>
    <div>
        <h2><%=destination.location%></h2>
        <img class="ui rounded image" src="<%=destination.image%>"><br>
        <p><%- destination.body %>
        <a href="/destinations/<%= destination._id %>">More Info</a></p>
        <a href="<%=destination.url%>"><%= destination.url %></a>
        <p>Submitted by: <%= destination.submittedBy %></p>
    </div>
    <div class="ui divider"></div>

<%}) %>


<%include ../partials/footer %>

