<% include ../partials/header %>
<div class ="ui main text container segment">
    <div class="ui huge header"><%= destination.location %></div>
    <div class="ui top attached">
        <div class="item">
            <div class="description">
            <h4>We should go here because....</h4>
            <p><%- destination.body %></p>
            </div>
            <div class="content">
                <a href="<%= destination.url %>">Destination Website</a>
            <div class="content">
                <p>Submitted by: <%= destination.author.username %></p>
            </div>
            <img class="ui centered rounded image" src="<%= destination.image %>">

            <div class="content">
                <span> <%= destination.created.toDateString() %></span>
            </div>


        </div>
    </div>
</div>

<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
  <% destination.comments.forEach(function(comment){ %>
  <div class="comment">
    <div class="content">
      <a class="author"><%= comment.author.username %></a>
      <div class="metadata">
        <div class="date"><%= comment.createdDate.toDateString() %></div>
      </div>
      <div class="text">
        <%= comment.text %>
      </div>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
        <a class="orange ui button mini"
            href="/destinations/<%= destination._id %>/comments/<%= comment._id %>/edit">
            Edit
        </a>
        <form class="delete-form" action="/destinations/<%= destination._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
        <input class="negative ui button mini" type="submit"  value="Delete">
        </form>
    <% } %>
    </div>
  </div>
  <% }) %>
  <br>
    <a class="ui primary small button" href="/destinations/<%= destination._id %>/comments/new">
     Add Comment
    </a>
</div>
<a class="ui orange basic button" href="/destinations/<%= destination._id %>/edit">Edit Post</a>
<form id="delete" action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
    <button class="ui red basic button">Delete Post</button>
</form>
</div>