<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1> Family Discussion Forum</h1>
<p>Discuss activities, excursions, accomodations, etc here!</p>

<% forum.forEach(function(forum){ %>
    <div>
        <h2><a href="/forum/<%= forum._id %>"><%=forum.title%></a></h2>

        <p><%- forum.body %></p>
        <p>Submitted by: <%= forum.author.username %> on <%= forum.created.toDateString() %></p>
    </div>
    <div class="ui divider"></div>

<%}) %>
</div>

<h3><a href="/forum/new">New Topic</a></h3>
<%include ../partials/footer %>

